<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{> ./head/main }}
  </head>
  <body>
    {{>. /body/outdated }}

    {{>. /body/header }}
    {{>. /body/lead }}
    {{>. /body/projects }}
    {{>. /body/footer }}

    {{>. /body/vendors }}
  </body>
</html>
