<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand mr-auto" href="#">
      <img
        class="d-block d-sm-none"
        src="assets/images/logo.svg"
        width="auto"
        height="60"
        alt="">

      <img
        class="d-none d-sm-block"
        src="assets/images/github-lead.svg"
        width="auto"
        height="60"
        alt="">
    </a>

    {{!-- <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
            </div> --}}


    <ul class="navbar-nav">
      {{#foreach website.header.links}}
        <li class="nav-item">
          <a class="nav-link" href="{{ href }}">{{ title }}</a>
        </li>
      {{/foreach}}

      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-folder"></i> Projects </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-info-circle"></i> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">[GitHub] <i class="fab fa-github"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">[Twitter] <i class="fab fa-twitter"></i></a>
      </li>
    </ul>

  </nav>
</header>
