<section class="projects">
  <div class="container">
    <h2 class="mb-5">Projects</h2>

    <ul class="list-unstyled">
      <li class="media">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Project name</h5>
          A short summary/description of the project.
          <a href="https://nodewell.github.io">project link</a>
        </div>
      </li>
    </ul>
  </div>
</section>
